XML & JSON/Fichas/XSD002.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="poema">
	<xs:complexType>
	  <xs:sequence>
		<xs:element type="xs:string" name="titulo"/>
		<xs:element type="xs:string" name="autor"/>
		<xs:element type="xs:short" name="data"/>
		<xs:element name="corpo">
		  <xs:complexType>
			<xs:sequence>
			  <xs:element name="quadra" maxOccurs="unbounded" minOccurs="0">
				<xs:complexType>
				  <xs:sequence>
					<xs:element name="verso" maxOccurs="unbounded" minOccurs="0">
					  <xs:complexType mixed="true">
						<xs:sequence>
						  <xs:element type="xs:string" name="nome" minOccurs="0"/>
						  <xs:element type="xs:string" name="lugar" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					  </xs:complexType>
					</xs:element>
				  </xs:sequence>
				</xs:complexType>
			  </xs:element>
			  <xs:element name="terno" maxOccurs="unbounded" minOccurs="0">
				<xs:complexType>
				  <xs:sequence>
					<xs:element name="verso" maxOccurs="unbounded" minOccurs="0">
					  <xs:complexType mixed="true">
						<xs:sequence>
						  <xs:element type="xs:string" name="nome" minOccurs="0"/>
						</xs:sequence>
					  </xs:complexType>
					</xs:element>
				  </xs:sequence>
				</xs:complexType>
			  </xs:element>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
	  </xs:sequence>
	  <xs:attribute type="xs:string" name="tipo"/>
	</xs:complexType>
  </xs:element>
</xs:schema>